#grid{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
    height: 336px;
    width: 336px;
}

.gridSquareRow, .gridSquareColumn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-top: -1px;
    margin-right: -1px;
    background-color: red;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    font-size: 5px;
}

.gridSquareRow{
    background-color: purple;
}